* { box-sizing: border-box; }

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
}

h1 {
	text-align: center;
	font-size: 175%;
	margin-bottom: 50px;
}

h2 {
	/*float: right;*/
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	border: 1px solid black;
	background-color: #FFC0CB;
	color: #000000;
	width: 140px;
	padding-bottom: 4px;
	text-align: center;
	font-size: 125%;
}

/*div > div { border: 1px solid red; }*/

section {
	position: relative;
	margin: 15px 15px 15px 15px;
	background-color: #777777;
	border: 1px solid;
}

article {
	/*clear: right;*/
	color: #FFFFFF;
	width: 100%;
	height: 150px;
	margin-top: 25px;
	padding: 15px;
}

.row { width: 99%; margin-left: auto; margin-right: auto}

#section_heading_1 {
	background-color: #FFD700;
	color: #000000;
}

#section_heading_2 {
	background-color: #E27D60;
	color: #000000;
}

#section_heading_3 {
	background-color: #851C00;
	color: #FFFFFF;
}

/* Large screen */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
	.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		/*border: 1px solid #00FF00;*/
	}

	.col-lg-1 { width: 8.33%; }
	.col-lg-2 { width: 16.66%; }
	.col-lg-3 { width: 25%; }
	.col-lg-4 { width: 33.33%; }
	.col-lg-5 { width: 41.66%; }
	.col-lg-6 { width: 50%; }
	.col-lg-7 { width: 58.33%; }
	.col-lg-8 { width: 66.66%; }
	.col-lg-9 { width: 75%; }
	.col-lg-10 { width: 83.33%; }
	.col-lg-11 { width: 91.66%; }
	.col-lg-12 { width: 100%; }
}

/* Medium screen */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4,
	.col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		/*border: 1px solid #00FF00;*/
	}

	.col-md-1 { width: 8.33%; }
	.col-md-2 { width: 16.66%; }
	.col-md-3 { width: 25%; }
	.col-md-4 { width: 33.33%; }
	.col-md-5 { width: 41.66%; }
	.col-md-6 { width: 50%; }
	.col-md-7 { width: 58.33%; }
	.col-md-8 { width: 66.66%; }
	.col-md-9 { width: 75%; }
	.col-md-10 { width: 83.33%; }
	.col-md-11 { width: 91.66%; }
	.col-md-12 { width: 100%; }
}